<h2>What are you looking for?</h2>
<p><%=@error_images %></p>

<form class="form-search" action="/images_result" method="get">
  <input type="text" name="img_name" class="input-medium search-query" placeholder="e.g. 'space cats'..." >
  <button type="submit" class="btn btn-info">Search!</button>
</form>


<form class="form-search" action="/random_result" method="post">
  <button type="submit" class="btn btn-info" name="img_random" value="<%= @img_random %>">Show a random one instead!</button>
</form>
