<p>Here is your image!</p>
<img src="<%= @photo %>" alt="">


<p><a href="/images_result?img_name=<%= @img_name %>">Show me another!</a></p>

<p><a href="/images">Do a different image search...</a></p>

