<h1>Welcome to the Images page!!</h1>

<form action="/images_result" method="get">
  <input type="text" name="img_name">
  <button>Show me the Image!</button>
</form>


<form action="/random_result" method="get">
  <input type="hidden" name="img_random" value="<%= @img_random %>">
  <button>Show a random one instead!</button>
</form>
