<h4>Here is your image!</h4>

<img src="<%= @photo %>" alt="" class="img-polaroid">


<h5><a href="/images_result?img_name=<%= @img_name %>">Show me another!</a></h5>

<h5><a href="/images">Do a different image search...</a></h5>

