<p>Here is your result!</p>
<img src="<%= @photo %>" alt="">

  
<p><a href="/images">Look up another image...</a></p>

<!--<p><a href="/images">Look up another image...</a></p> need to automatically resubmit the same search-->
