<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title>My Ruby Gems</title>
</head>
<body>
  <h1>Welcome to the "Best Ruby Gems Portal"</h1>
  <h2>Which of the following do you want to do?</h2>
  <div class="option">
    <ul>
      <a href="movies"><li>Find info about a movie.</li></a>
      <a href="stocks"><li>Find info about a stock.</li></a>
      <a href="images"><li>Find an image.</li></a>
    </ul>
  </div>
  <div id="container">
   <%= yield %>
  </div>
  <footer>
    <h3>Have Fun!!!</h3>
  </footer>
</body>
</html>