<h2>Enter a Movie Name</h2>

<form class="form-search" action="/movies_result" method="post">
  <input type="text" name="mov_name" class="input-medium search-query">
  <button type="submit" class="btn btn-info">Show me the Movie!</button>
</form>
