<h2>Enter a Stock Symbol</h2>

<form class="form-search" action="/stocks_result" method="post">
  <input type="text" name="stock_name" class="input-medium search-query" placeholder="e.g. 'GOOG'...">
  <button type="submit" class="btn btn-info">Search!</button>
</form>
