<h2>Enter a Stock Symbol</h2>

<form class="form-search" action="/stocks_result" method="post">
  <input type="text" name="stock_name" class="input-medium search-query">
  <button type="submit" class="btn btn-info">Show me the Stock Info!</button>
</form>
