body {
  background-image:url(/img/dark_blue_back.jpg);
  text-align: center;
  color: white;
}

div {
  border: 2px solid black;
  margin: 10px auto;
}

.option {
  float: left;
  padding: 10px 0 10px 0;
  width: 100%;
  list-style-position: inside;
}

ul {
  list-style-type: none;
  display: inline;
}

#container {
  height: auto;
}

footer {
  clear: both;
}

img{
  height: 200px;
  width: auto;
}